<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.dayuanit.domain.User" alias="user"/>
		<typeAlias type="com.dayuanit.domain.AccountFlow" alias="accountflow"/>
		<typeAlias type="com.dayuanit.dto.AccountFlowDTO" alias="accountflow2"/>
	</typeAliases>
	
</configuration>